[req]
prompt = no
distinguished_name = req_distinguished_name
#req_extensions = v3_req

[req_distinguished_name]
C = FR
ST = Paris
L = Paris
O = SimuSec
OU = SimuSec
CN = SimuSec
#emailAddress = info@example.com

#[v3_req]
#basicConstraints = CA:FALSE
#keyUsage = nonRepudiation, digitalSignature, keyEncipherment
#subjectAltName = @alt_names

#[alt_names]
#DNS.1 = example.com
#DNS.2 = www.example.com

##############################

[req]
default_bits = 2048
default_md = sha256
distinguished_name = req_distinguished_name
req_extensions = req_ext
x509_extensions = req_ext
string_mask = utf8only
prompt = no


[ req_ext ]
basicConstraints = CA:FALSE
#nsCertType = client, server
#keyUsage = nonRepudiation, digitalSignature, keyEncipherment, dataEncipherment, keyCertSign
#extendedKeyUsage= serverAuth, clientAuth
#nsComment = "OpenSSL Generated Certificat"
#subjectKeyIdentifier=hash
#authorityKeyIdentifier=keyid,issuer
#subjectAltName = URI:urn:opcua:python:server,IP: 127.0.0.1


[req_distinguished_name]
C = FR
ST = Paris
L = Paris
O = SimuSec
OU = SimuSec
CN = SimuSec
#emailAddress = info@example.com