<html>
    <head>
        <meta charset="UTF-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        <title>FlaskBlog</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    </head>

    <body>
        <div class="container">
            <div class="row">
            {% for g in range(1, generateur+1) %}
                <div id="d{{g}}" class ="gene"> <p>Generateur{{g}}</p> </div>
            {%endfor%}
            </div>

            <div class="row">
            {%for i in range(1,client+1)%}
                <div id="div{{i}}" class="client"> <p>Client{{i}}</p> </div>
            {%endfor%}
            </div>
         </div>
        <!-- style="width: 100px; height: 100px; top: 55*total_list px; left:300px; background:#333; position:absolute;" -->
        <!-- <svg width="500" height="500"><line x1="50" y1="50" x2="350" y2="350" stroke="black"/></svg> -->
    </body>

    <script>
        function connect(div1, div2, color, thickness) {
            var off1 = getOffset(div1);
            var off2 = getOffset(div2);
            // bottom right
            var x1 = off1.left + off1.width/2;
            var y1 = off1.top ;
            // top right
            var x2 = off2.left + off2.width/2 ;
            var y2 = off2.top + off2.height;
            // distance
            var length = Math.sqrt(((x2-x1) * (x2-x1)) + ((y2-y1) * (y2-y1)));
            // center
            var cx = ((x1 + x2) / 2) - (length / 2);
            var cy = ((y1 + y2) / 2) - (thickness / 2);
            // angle
            var angle = Math.atan2((y1-y2),(x1-x2))*(180/Math.PI);
            // make hr
            var htmlLine = "<div style='padding:0px; margin:0px; height:" + thickness + "px; background-color:" + color + "; line-height:1px; position:absolute; left:" + cx + "px; top:" + cy + "px; width:" + length + "px; -moz-transform:rotate(" + angle + "deg); -webkit-transform:rotate(" + angle + "deg); -o-transform:rotate(" + angle + "deg); -ms-transform:rotate(" + angle + "deg); transform:rotate(" + angle + "deg);' />";
            //
            //alert(htmlLine);
            document.body.innerHTML += htmlLine; 
        }

    function getOffset( el ) {
        
        if(el.getBoundingClientRect() != null){
            var rect = el.getBoundingClientRect();
            console.log(rect.left)
            return {
                left: rect.left + window.pageXOffset,
                top: rect.top + window.pageYOffset,
                width: rect.width || el.offsetWidth,
                height: rect.height || el.offsetHeight
            };
        }    
    }


    var clients = '{{client}}'
    var generateurs = '{{generateur}}'
    console.log(clients)
    
    for (var i=1; i<=clients; i++){ 
        console.log(clients)
        console.log("client"+i)
        for(var g=1; g<=generateurs; g++){
            console.log("generateur"+g)
            var div1 = document.getElementById('div'+i);
            var div2 = document.getElementById('d'+g) 
            connect(div1, div2, "black", 2);
        }
        console.log("client2"+i)
    }
            
    </script>
</html>
