#schema{
    border-width: 1px;
    border-style: solid;
    padding: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

body{
    background-color: #F4F4F4;
}

.img {
    width: 30px;
    height: 30px;
    float: left;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    z-index: 1000; 
}

#legende{
    border-width: 1px;
    border-style: dashed;
    padding: 10;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

#legende p{
    margin-top: -3;
}

.gene{
    width: 100px;
    height: 100px; 
    margin: 10; 
    margin-left: 30px;
    margin-bottom: 80; 
    border-radius: 5%;
    background:#333; 
    display: inline-block;
}

.gene b{
    font-size:large;
}


.gene p, .client p{
    margin-top:30px;
    color: white;
}

.client{
    width: 100px; 
    height: 100px; 
    background:#777; 
    margin:10; 
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 100%; 
    display: inline-block;
}

.ligne p{
    margin-top: 20px;
}

body{
    text-align: center;
}